<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.like.mapper.LikeMapper">
 	
 	<select id="selectlikeCountByPostIdUserId" parameterType="map" resultType="int">
 		SELECT
 			count(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
		AND
			`userId` = #{userId}
 	</select>
 	
 	<select id="selectlikeCountByPostId" parameterType="int" resultType="int">
 		SELECT
 			count(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
 	</select>
 	
 	<insert id="insertlikeToggle" parameterType="map">
 		INSERT INTO `like`
 		(
 			`postId`
			,`userId`
			,`createdAt`
 		)
 		VALUE
 		(
 			#{postId}
 			, #{userId}
 			, NOW()
 		)
 	</insert>
 	
 	<delete id="deletelikeToggle" parameterType="map">
 		DELETE FROM 
			`like`
 		WHERE	
 			`postId` = #{postId}
 		AND
 			`userId` = #{userId}
 	</delete>
 	
 	<select id="booleanLikeByPostIdUserId" parameterType="int" resultType="int">
 	 	SELECT
 			count(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
		AND
			`userId` = #{userId}
 	</select>
 </mapper>