<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="contents-box">
		<!-- 글쓰기 영역(로그인 된 사람만 보임) -->
		<div th:if="${session.userId != null}" class="write-box border rounded m-3">
			<textarea id="writeTextArea" placeholder="내용을 입력해주세요" class="w-100 border-0"></textarea>
			
			<div class="d-flex justify-content-between">
				<div class="file-upload d-flex">
				 	<!-- <input type="file" id="file"> 이렇게만 만들어버리면 모든 파일이 나타나기 때문에 accept추가 -->
				 	<!-- file 태그를 숨겨두고, 이미지를 클릭하면, 파일을 클릭한 것과 같은 효과를 준다. -->
					<input type="file" id="file" accept=".jpg, .png, .gif, .jpeg" class="d-none">
				
					<!-- 이미지에 마우스 올리면 마우스 커서가 link로 변경 -->
					<a href="#" id="fileUploadBtn"><img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png"></a>
				
					<div id="fileName" class="ml-2"></div>
				</div>
				<button id="writeBtn" class="btn btn-info">게시</button>
			</div>
		</div>
		
		<!-- 타임라인 영역 -->
		<div class="timeline-box my-5">
			
			<!-- 글(카드) 반복 -->
			<div th:each="post : ${postList}" class="card border rounded mt-3">
				<!-- 글쓴이, 더보기(삭제) -->
				<div class="p-2 d-flex justify-content-between">
					<span class="font-weight-bold" th:text="${post.userId}">글쓴이</span>
					
					<!-- 더보기 ...(로그인 된 사람과 글쓴이 정보 일치할 때 보이게) -->
					<a th:if="${session.userId == post.userId}" href="#" class="more-btn">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
					</a>
				</div>
				
				<!-- 본문 이미지 -->
				<div class="card-img">
					<img th:src="${post.imagePath}" class="w-100" alt="본문 이미지">
				</div>
				
				<!-- 좋아요 -->
				<div class="card-like m-3">
					<img src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="18" height="18" alt="empty heart">
					<span th:text="|좋아요 13개|"></span>
				</div>
				
				<!-- 글 -->
				<div class="card-post m-3">
					<span class="font-weight-bold" th:text="${post.userId}">글쓴이</span>
					<span th:text="${post.content}">글 내용입니다!!!!</span>
				</div>
				
				<!-- 댓글 제목 -->
				<div class="card-comment-title border-bottom">
					<div class="font-weight-bold ml-3 mb-1">댓글</div>
				</div>
				
				<!-- 댓글 목록 -->
				<div class="card-comment-list m-2">
					<!-- 댓글들 -->
					<div class="card-comment m-1" th:if="${post.Id == comment.postId}" th:each="comment : ${commentList}">
						<span class="font-weight-bold" th:text="${comment.userId}">댓글쓰니</span>
						<span th:text="${comment.content}">댓글 내용임</span>
						
						<!-- 댓글 삭제(자신의 댓글만 가능) -->
						<a href="#" class="comment-del-btn">
							<img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
						</a>
					</div>
					
					<!-- 댓글 쓰기 -->
					<div class="comment-write d-flex border-top mt-2">
						<input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 달기">
						<button type="button" class="comment-btn btn btn-light" th:data-post-id="${post.id}" th:data-user-id="${session.userId}">게시</button>
					</div>
				</div> <!-- 댓글 끝 -->
			</div> <!-- 카드 끝 -->
		</div> <!-- 타임라인 박스 끝 -->
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function(){
			// 이미지 a태그 클릭 => 숨겨져있는 id="file" 태그 동작 시킴
			$("#fileUploadBtn").on('click', function(e) {
				// alert("클릭"); 정상작동함
				e.preventDefault(); // 위로 올라가는 현상 방지
				
				$("#file").click(); // 파일을 클릭하게 되는 현상 / input type="file"을 클릭한것과 같다.
				
				// 숨겨져있는 파일이 변경이 되는 때에 해야한다. change로 추가 사항 해줘야한다.
			});
			
			// 파일이 선택 될 때, 유효성 체크와 파일명 이미지 이름이 먼지에 대해서 노출도 해줘야한다.
			$("#file").on('change', function(e) {
				// 취소를 누를 때, 처리 취소를 누를때도 초기화가 되는 상황에 대해서 처리를 해줘야한다.
				// 파일이 비워짐으로, 아래쪽에 .name을 할수가 없는 상황인 것이다. (에러 발생)
				let file = e.target.files[0];
				if(file == null) {
					// 없어지긴 하지만, 찝찝하다면, 아예 코드를 써주는것도 좋다.
					$("#file").val("");
					$("#fileName").text("");
					return;
				}
				
				// alert("이미지 변경!"); 정상 작동
				// target = this와 같은것이다. files[0]= 이미지 자체의 이름
				let fileName = e.target.files[0].name; // bird-7943041_640.jpg
				console.log(fileName);
				
				// 확장자 validater 유효성 체크
				// pop으로 잘라서 하나의 string으로 변환
				let ext = fileName.split(".").pop().toLowerCase();
				console.log(ext);
				
				if (ext != "gif" && ext != "png" && ext != "jpg" && ext != "jpeg") {
					alert("이미지 파일만 업로드 할수있습니다.");
					// 1.이미지가 보이는것을 초기화 해야하고, 파일을 담긴것을 초기화 해줘야한다.
					$("#file").val(""); // 파일 테그에 올라온것 제거, (보이지 않지만 꼭! 처리해야함.) 그 파일도 비우고, 보여지는 파일의 이름도 지워야한다.
					$("#fileName").text(""); // 보여지고 있는 파일명을 초기화 (제거)
					return;
				}
				// 2. 파일명 노출
				$("#fileName").text(fileName);
			});
			
			$("#writeBtn").on('click', function(e) {
				// alert("보내기"); 정상 작동
				// 글쓰기 할때, 로그인 체크를 해야함. (30분동안 접속해있으면 자동적으로 로그아웃 되기 때문에 그 친구도 기능 구현을 해줘야함.)
				
				// 타이핑 했던 내용
				let content = $("#writeTextArea").val();
				
				// file의 이름
				let fileName = $("#file")[0].files[0].name;
				// console.log(fileName);
				
				// 파일의 확장자 이름
				let ext = fileName.split(".").pop().toLowerCase();
				
				if(!content) {
					alert("내용을 입력하세요");
					return;
				}
				
				if (ext != "gif" && ext != "png" && ext != "jpg" && ext != "jpeg") {
					alert("이미지 파일만 업로드 할수있습니다.");
					// 1.이미지가 보이는것을 초기화 해야하고, 파일을 담긴것을 초기화 해줘야한다.
					$("#file").val(""); // 파일 테그에 올라온것 제거, (보이지 않지만 꼭! 처리해야함.) 그 파일도 비우고, 보여지는 파일의 이름도 지워야한다.
					$("#fileName").text(""); // 보여지고 있는 파일명을 초기화 (제거)
					return;
				}
				
				console.log(content);
				console.log(fileName);
				
				// form 태그를 js에서 만든다.
				let formData = new FormData();
				formData.append("content", content);
				formData.append("file", $("#file")[0].files[0]);
				
				// AJAX 구현
				$.ajax({
					type : "post"
					, url : "/post/create"
					, data : formData
					, enctype : "multipart/form-data"
					, processData : false
					, contentType : false
					
					, success:function(data) {
						if(data.code == 200) {
							alert("글이 저장되었습니다.");
							// 글 목록 화면 이동
							location.reload();
						} else if(data.code == 403) { // 비로그인일때 서버 처리를 하게 만들음.
							location.href="/user/sign-in-view";
						} else {
							alert(data.error_message);
						}
					}
					, error : function(e) {
						alert("글을 저장하는데 실패했습니다.");
					}
				});
			});
			
			// 댓글 쓰기
			$(".comment-btn").on('click', function() {
				
				// let userId = ${session.userId}; jsp문구라서 따로 할수없다.
				let userId = $(this).data("user-id");
				
				if(!userId) {
					// 비로그인
					alert("로그인을 해주세요");
					location.href="/user/sign-in-view";
					return;
				}
				
				// alert("하이"); 정상작동
				// 여기서 해야 하는 것. 1. 먼저 이대로 올라가지는지에 대해서 테스트를 해봐야하고, 2. 특정 게시물에 대해서 정리를 해서 넣는 방법 3. 어떤 게시물에서 가져와서 작성을 했는지에 대해서 작성
				let postId = $(this).data("post-id");
				// alert(postId);
				// parent함수에서 children 함수를 적어서 저 값을 지칭을 할수가 있다.
				// 알아서 한번 확인
				
				// 1. this.버튼의 이전 태그를 할수가 있다.
				// 부모태그가 누구인지 자식태그가 누구인지 확인을 할수있다.
				// $(this).prev() 전태그를 확인이 가능하다.
				// let content = $(this).prev().val().trim();
				
				
				// 2.this의 근처를 기준으로 확인을 할수가 있다. (형제 태그중 input값 가져오기)
				let content = $(this).siblings(".comment-input").val().trim();
				console.log(content);
				
				if(!content) {
					alert("댓글내용을 작성해야합니다.");
					return;
				}
				
				// 비로그인 처리일때는 확실하게 되는지 안되는지에 대한 검사가 필요하다.
				
				$.ajax({
					type:"post"
					, url : "/comment/create"
					, data : {"postId":postId, "content":content}
					, success:function(data) {
						if(data.code == 200) {
							location.reload(true);
						} else if(data.code == 403) {
							// 비로그인
							alert(data.error_message);
							location.href="/user/sign-in-view";
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
							alert("댓글쓰기에 실패하였습니다.")
					}
				});
			}); 
			
		}); // ready 함수 끝
    </script>
</th:block>