<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="contents-box">
		<!-- 글쓰기 영역(로그인 된 사람만 보임) -->
		<div th:if="${session.userId != null}" class="write-box border rounded m-3">
			<textarea id="writeTextArea" placeholder="내용을 입력해주세요" class="w-100 border-0"></textarea>
			
			<div class="d-flex justify-content-between">
				<div class="file-upload d-flex">
					<img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png">
				</div>
				<button id="writeBtn" class="btn btn-info">게시</button>
			</div>
		</div>
		
		<!-- 타임라인 영역 -->
		<div class="timeline-box my-5">
			
			<!-- 글(카드) 반복 -->
			<div th:each="post : ${postList}" class="card border rounded mt-3">
				<!-- 글쓴이, 더보기(삭제) -->
				<div class="p-2 d-flex justify-content-between">
					<span class="font-weight-bold" th:text="${post.userId}">글쓴이</span>
					
					<!-- 더보기 ...(로그인 된 사람과 글쓴이 정보 일치할 때 보이게) -->
					<a th:if="${session.userId == post.userId}" href="#" class="more-btn">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
					</a>
				</div>
				
				<!-- 본문 이미지 -->
				<div class="card-img">
					<img th:src="${post.imagePath}" class="w-100" alt="본문 이미지">
				</div>
				
				<!-- 좋아요 -->
				<div class="card-like m-3">
					<img src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="18" height="18" alt="empty heart">
					<span th:text="|좋아요 13개|"></span>
				</div>
				
				<!-- 글 -->
				<div class="card-post m-3">
					<span class="font-weight-bold" th:text="${post.userId}">글쓴이</span>
					<span th:text="${post.content}">글 내용입니다!!!!</span>
				</div>
				
				<!-- 댓글 제목 -->
				<div class="card-comment-title border-bottom">
					<div class="font-weight-bold ml-3 mb-1">댓글</div>
				</div>
				
				<!-- 댓글 목록 -->
				<div class="card-comment-list m-2">
					<!-- 댓글들 -->
					<div class="card-comment m-1">
						<span class="font-weight-bold">댓글쓰니</span>
						<span>댓글 내용임</span>
						
						<!-- 댓글 삭제(자신의 댓글만 가능) -->
						<a href="#" class="comment-del-btn">
							<img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
						</a>
					</div>
					
					<!-- 댓글 쓰기 -->
					<div class="comment-write d-flex border-top mt-2">
						<input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 달기">
						<button type="button" class="comment-btn btn btn-light">게시</button>
					</div>
				</div> <!-- 댓글 끝 -->
			</div> <!-- 카드 끝 -->
		</div> <!-- 타임라인 박스 끝 -->
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>